.tabs{
    height: 584px;
    background-color: rgb(10,38,64);
}
.tabs__text{
    margin-top: 100px;
    color: #fff;
    width: 600px;
    margin: auto;
    text-align: center;
}
.tabs-item{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.tabs__catd{
    margin: 30px;
}
.card__text{
    color: rgb(79,233,164);
}
.text2{
    color: #fff;
}