*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
@import "./header";
@import "./breadcrumb";
@import "./card";
@import "./section";
@import "./tabs";